
@font-face {
  font-family: 'mr_Miroslav';
  src: url('mr_Miroslav.eot?#iefix') format('embedded-opentype'),  url('mr_Miroslav.woff') format('woff'), url('mr_Miroslav.ttf')  format('truetype'), url('mr_Miroslav.svg#mr_Miroslav') format('svg');
  font-weight: normal;
  font-style: normal;
}
