* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #FFFFFF;
}

#wrapper {
    width: 801px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("//res.cloudinary.com/vit100/image/upload/v1513442646/Steamul_Web/mainf.jpg");
    background-repeat: no-repeat;
}

#wrapper #bubl {
    height: 340px;
    width: 310px;
    float: left;
    margin-left: 48px;
    margin-top: 0px;
}

#wrapper #logo {
    float: right;
    margin-top: 38px;
    height: 56px;
    width: 273px;
    margin-right: 40px;
}

#wrapper #topm {
    height: 18px;
    width: 440px;
    margin-top: 7px;
    float: right;
}

#wrapper #info {
    float: right;
    width: 395px;
    margin-right: 20px;
    margin-top: 10px;
}

#wrapper #ffot {
    height: 91px;
    margin-right: 10px;
    margin-left: 50px;
    background-color: #1C9EFF;
    background-image: url("//res.cloudinary.com/vit100/image/upload/v1513442645/Steamul_Web/vave.jpg");
    background-repeat: no-repeat;
    padding-top: 75px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #FFF;
    line-height: 30px;
}

#wrapper #footer {
    clear: both;
    margin-right: 10px;
    margin-left: 50px;
    height: 70px;
    background-image: url(//res.cloudinary.com/vit100/image/upload/v1513442638/Steamul_Web/bottom.jpg);
    background-repeat: repeat-x;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 34px;
    background-color: #0801A6;
}

.menu {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
}

a:link {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #FFFF33;
}

a:active {
    text-decoration: none;
}

.intro {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 0;
    color: #000;
    line-height: 15px;
}

.style1 {
    color: #FFFF33;
}

.hrs {
    margin-left: 20px;
    color: #000000;
    line-height: 22px;
}

.style4 {
    margin-left: 10px;
}

.style5 {
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 15px;
    margin-left: 10px;
}

.gridTitle{
    font-weight: bold;
}

