
@font-face {
  font-family: 'Russian';
  src: url('fonts/mr_Miroslav.eot?#iefix') format('embedded-opentype'),  url('fonts/mr_Miroslav.woff') format('woff'), url('fonts/mr_Miroslav.ttf')  format('truetype'), url('fonts/mr_Miroslav.svg#mr_Miroslav') format('svg');
  font-weight: normal;
  font-style: normal;
}
.image.bring.abc {
float:right;
}
.head{
	text-transform: uppercase;
	font-family: 'Russian';
	color: #005ab1;
	font-size: 3em;
	line-height: 1em;
	margin-left: 30px;
	margin-top: 30px;

}
.an{
	text-transform: uppercase;
	color: #d02824;
	font-size: 100px;
	line-height: 150px;
	text-align: center;
	margin-bottom: 30px;
}
.sec{
	font-family: 'Poppins', sans-serif;
	color: #d02824;
	font-size: 2em;
	margin-left: 30px;
	font-weight: 500;
}
.so{
	font-family: 'Poppins', sans-serif;
	color: #d02824;
	font-size: 2em;
	margin-left: 30px;
	font-weight: 300!important;
	margin-top: -5px;
	text-align: center;
	margin-bottom: 30px;
}
.ru{
	font-size: 1.5em;
	color: #000;
	font-family: 'Russian';
	text-align: center;
	line-height: 35px;
	margin-top: 10px;
}
.en{
	font-size: 1em;
	color: #d02824;
	font-size: 2em;
	text-align: center;
	margin-bottom: 100px;
	margin-top: -10px;
}
.image {
	display: inline-block;
	position	: relative;
	top: -60px;
}
.full {
	position	: absolute;
	top		: 30px;
	left		: 50%;
	transform: translateX(-50%);
	color: #fff;
  font-size: 1.5rem;
}
.display{
	display: inline-block;
}
.new{
	font-size: 34px;
	line-height: 25px;
	margin-bottom: 20px!important;
	margin-top: 20px!important;
}
.bring{
	top: 10px;!important;
}
.block{
	display: inline-block;
}
.mid{
	font-size: 400;
	color: #000;
	font-family: 'Russian';
	font-size: 56px;
	text-align: center;
	line-height: 50px;
	margin-top: 10px;
}
.mid span{
	color: #d02824;
	font-size: 92px;
	position: relative;
	top: 33px;
	right: 5px;
}
.bot{
	font-size: 700;
	color: #d02824;
	font-size: 34px;
	text-align: center;

	margin-top: -10px;
	margin-right: -50px;
}
.lo{
	margin-bottom: 10px;
}


.big{
	font-size: 33px;
	margin-bottom: 10px;
}
.sm{
	font-size: 1em;
	text-align: center;
	margin-top: -10px;
	margin-bottom: 10px; 
}

.line  {
 border-top: 1px dashed #000; /* Параметры линии */
 height: 36px; /* Высота блока */
 width:100%;
}
.line__mobile  {
 border-top: 5px dashed #6c757d; /* Параметры линии */
 height: 36px; /* Высота блока */
 width:100%;
 display: none;
}
.sa{
	padding: 40px;
	font-size: 52px;
	color: #d02824;
	margin-top: 40px;
	position: relative;
	bottom: 0px;
}
.sd{
	font-size: 700;
	color: #d02824;
	font-size: 44px;
	text-align: center;
	font-family: 'Poppinsa', sans-serif;
}
.gt{
	position: relative;
	top:300px;
	margin-bottom: 400px;
}
.bl{
	color: #082e5b;
}
.dot{
    border-bottom: dotted 3px black;
    width: 300px;
    position: relative;
    display: inline-block;
    height: 12px;
    margin: 0 5px 0 5px;
}
.rt{
	margin-top: 40px;
	margin-bottom: 20px;
}
.footer{
	 height: 270px;
	 position: relative;
	 display: inline-block;
}
.footer_a{
	display: inline-block;
	position: relative;
	text-decoration: none;
	left: 50%;
	bottom: 20%;
	transform: translateX(-50%);
	text-align: center;
	font-size: 28px;
	margin-top:-50px;
	color: #000;
}
.xo{
	font-size:36px;
}



.drink-line {
	display: flex;
	/*align-items: flex-end;*/
	align-items: center;
	justify-content: space-between;
	line-height: 54px;
}
.drink-line .drink-col.name {
	text-align: center;
	font-size:38px;
	color: #000;
	font-family: 'Russian';
	margin-bottom:11px;
		white-space: nowrap;
}
.drink-line .drink-col.title {
	white-space: nowrap;
	font-size: 26px;
	color: #d02824;
	text-align: center;
	font-family: 'Poppinsa', sans-serif;
}
.drink-line .drink-col.dot {
	width: 100%;
	margin-top: 12px;
}
.drink-line .drink-col.price {
	color:#000;
	font-size:28px;
	margin-bottom:0;
	margin-top:0;
	white-space: nowrap;
}
.drink-line .drink-col .sa {
	padding: 0 40px;
}

.ru.tut {
	font-size:35px!important;
	}